.test-center-bg {
  background-image: linear-gradient(
      184deg,
      rgb(97 91 93 / 23%) 12.89%,
      rgba(2, 133, 224, 0.32941) 92.39%
    ),
    linear-gradient(1deg, rgb(0 0 0 / 2%), rgb(0 0 0 / 5%)),
    url('../../asset/img/test-center-bg.png');
  height: 400px;
  background-position: center;
  background-size: cover;
}

.upper-spacing {
  margin-top: 10rem;
}

.text-desc-wrapper {
  h2 {
    color: var(--gray900);
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  p {
    color: var(--gray500);
  }

  a {
    color: var(--primaryPink);

    &:hover {
      color: var(--primaryPink);
    }
  }
}

.postal-img {
  margin-top: -10rem;
}

/* ---------- media screen for ipad  ------------ */
@media screen and (max-width: 768px) {
  .upper-spacing {
    margin-top: 3rem;
  }

  .postal-img {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 428px) {
  .reverse-column {
    flex-direction: column-reverse;
  }
}
