.light-purple {
  color: var(--lightPurple) !important;
}

.text-light {
  color: var(--primaryWhite) !important;
}
.text-grey900 {
  color: var(--gray900) !important;
}

.text-pink {
  color: var(--primaryPink) !important;
}

.text-grey500 {
  color: var(--gray500);
}

.btn {
  padding: 0.6rem 0.8rem !important;
  min-height: 50px;
  /* font-size: 0.8rem; */
}

.btn-sm {
  padding: 0.4rem 0.6rem !important;
  min-height: 35px;
}

.btn-pink {
  background-color: var(--primaryPink);
  color: var(--primaryWhite);
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  &:hover {
    color: var(--primaryWhite);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
}

.btn-tran-pink {
  background-color: transparent;
  color: var(--primaryPink);
  border-radius: 8px;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid var(--primaryPink);
  &:hover {
    color: var(--primaryPink);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
}

.btn-purple {
  background-color: var(--primaryPurple);
  color: var(--primaryWhite);
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  &:hover {
    color: var(--primaryWhite);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
}

.btn-dark {
  background-color: var(--gray900);
  color: var(--primaryWhite);
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  &:hover {
    color: var(--primaryWhite);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
}

.btn-transparent {
  background-color: transparent;
  color: var(--gray700);
  border-radius: 8px;
  outline: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: 1px solid #d0d5dd;
  &:hover {
    color: var(--gray700);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
}
.spacing-wrap {
  padding-left: 7rem;
  padding-right: 7rem;
}

.form-control {
  height: calc(1.5em + 0.75rem + 10px);
  color: var(--gray500);
  font-weight: 300;
}

.heading-2 {
  font-size: 1.5rem;
}

.font-weight-medium {
  font-weight: 500;
}

.required::after {
  content: '*';
  color: var(--primaryPink);
}

.input-error {
  display: block;
  margin-top: 0.5rem;
  color: var(--primaryPink);
  font-weight: 300;
  font-size: 0.8rem;
}

.navbar-brand {
  margin-right: 0 !important;
}

@media screen and (max-width: 1024px) {
  .spacing-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .spacing-wrap {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 414px) {
  .spacing-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
